body {
    color: #d8c096;
    background: url("images/bg.jpg");
    background-size: 800px;
    margin: 0 auto;
    display: flow-root;
}
header {
    text-align: center;
}
h1 {
    font-family:  Helvetica;
    font-size: 2em;
}
h2 {
    font-family: Arial;
    color: #bb2528;
}
hr {
    margin: 1em auto;
    border-top: 2px white solid;
}
li {
    margin-top: 0;
    margin-bottom: 1em;
}
a {
    /* color: #084057; */
    color: #165b33;
    font-family: Helvetica;
    font-weight: bold;
}
img {
    vertical-align: middle;
    text-align: center;
    max-width: 100%;
}
festive {
    color: #165b33;
    animation: blink 1s steps(1) infinite;
}
@keyframes blink{
    50% { color: #bb2528 }
}
