body {
    color: #d8c096;
    background: url("images/bg.jpg");
    background-size: 800px;
    margin: 0 auto;
    display: flow-root;
}
header {
    text-align: center;
}
h1 {
    font-family: Arial;
    font-size: 2em;
    color: white;
}
h2 {
    font-family: Arial;
    color: white;
}
hr {
    margin: 1em auto;
    border-top: 2px white solid;
}
li {
    margin-top: 0;
    margin-bottom: 1em;
}
a {
    color: #084057;
}
img {
    vertical-align: middle;
    text-align: center;
    max-width: 100%;
}
